
.post {
    width: 1000px;
    height: 240px;
    padding: 20px 20px;
    border-radius: 20px;
}
.post:hover{
    background-color: #cccccc;
    cursor: pointer;
}

.post_image {
    display: block;
    height: 200px;
    width: 150px;
    max-width: 150px;
    max-height: 200px;
    float: left;
    padding: 2px;
    margin-right: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

h3 {
    font-family: Inter,cursive;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.post__author-date {
    display: flex;
    margin-top: 10px;
}
.post__author{
    font-family: Inter, cursive;
    font-size: 14px;
}
.post__author:hover{
    text-decoration-line: underline;
    cursor: pointer;
    color: blue;
}

.post__button-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10%;
}

.post__button-comments,
.post__button-likes {
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Додано анімацію */
}

.post__button-comments{
    border: white;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: darkorange;
    color: white;
}

.post__button-likes {
    background-color: #007bff;
    color: white;
    border: white;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.post__button-comments:hover,
.post__button-likes:hover {
    background-color: #ffa500;
    color: black;
    border-color: #ffa500;
}

p {
    margin-right: 10px;
    margin-left: 10px;

}

.post__date {
    margin-left: auto;
    margin-right:10px;
    color: #6c6868;
    font-family: Inter, cursive;
    font-size: 13px;
}

.post__description {
    font-family: Inter, cursive;
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
