.registration-form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, white, #007bff);
}

.registration-form {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250%;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form__input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.registration-form__input:focus {
    border-color: #007bff;
}

.registration-form__button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    font-family: "Roboto", monospace;
    font-size: 15px;
    margin-bottom: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-form__error {
    font-family: Inter, cursive;
    color: red;
    font-size: 0.7em;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.registration-form__button:hover {
    background-color: #0056b3;
}

.registration-form__button:active {
    transform: translateY(1px);
}
.registration-form__href__login {
    margin-top: 5px;
    font-family: "Roboto", monospace;
    font-size: 12px;
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Анімація зміни кольору та підкреслення */
    font-weight: bold; /* Зробимо текст жирним */
}

.registration-form__href__login:hover {
    color: #0056b3;
    text-decoration: underline; /* Підкреслюємо посилання при наведенні */
}
